{
  "openapi": "3.0.1",
  "info": {
    "title": "Tx Platform REST API - V10",
    "version": "v10"
  },
  "servers": [
    {
      "url": "https://api.au.textkernel.com/tx"
    }
  ],
  "paths": {
    "/v10/account": {
      "get": {
        "tags": ["Account"],
        "summary": "Gets the account information.",
        "operationId": "Account_Get",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/resume/{documentId}": {
      "post": {
        "tags": ["Document"],
        "summary": "Add a single v10 resume to an index",
        "operationId": "Document_PostResume",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddResumeToIndexRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddResumeToIndexRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddResumeToIndexRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddResumeToIndexRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Document"],
        "summary": "Retrieve a v10 resume from an index",
        "operationId": "Document_GetResume",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeDataStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeDataStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeDataStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Document"],
        "summary": "Update the custom value ids for a resume",
        "operationId": "Document_PatchResume",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/joborder/{documentId}": {
      "post": {
        "tags": ["Document"],
        "summary": "Add a single v10 job to an index",
        "operationId": "Document_PostJobOrder",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddJobToIndexRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddJobToIndexRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddJobToIndexRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddJobToIndexRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Document"],
        "summary": "Retrieve a v10 job from an index",
        "operationId": "Document_GetJobOrder",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobDataStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDataStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDataStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Document"],
        "summary": "Update the custom value ids for a job order",
        "operationId": "Document_PatchJobOrder",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredUpdateDocumentCustomValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/resumes": {
      "post": {
        "tags": ["Document"],
        "summary": "Add multiple v10 resumes to an index",
        "operationId": "Document_Post_Resumes",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleResumesToIndexRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleResumesToIndexRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleResumesToIndexRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleResumesToIndexRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/joborders": {
      "post": {
        "tags": ["Document"],
        "summary": "Add multiple v10 jobs to an index",
        "operationId": "Document_Post_Jobs",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleJobsToIndexRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleJobsToIndexRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleJobsToIndexRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMultipleJobsToIndexRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/documents/{documentId}": {
      "delete": {
        "tags": ["Document"],
        "summary": "Delete a single document from an index",
        "operationId": "Document_Delete",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": ["Document"],
        "summary": "Check if document exists in an index",
        "operationId": "Document_Head",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v10/index/{indexId}/documents/delete": {
      "post": {
        "tags": ["Document"],
        "summary": "Delete multiple documents from an index",
        "operationId": "Document_Delete_0",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDocumentResponseListStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/formatter/resume": {
      "post": {
        "tags": ["Formatter"],
        "summary": "Generates a DOCX or PDF resume based on parsed data",
        "operationId": "Formatter_FormatResume",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/formatter/resume/template": {
      "post": {
        "tags": ["Formatter"],
        "summary": "Generates a DOCX or PDF resume based on parsed data from a given template",
        "operationId": "Formatter_FormatResumeFromTemplate",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeFromTemplateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeFromTemplateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeFromTemplateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFormatResumeFromTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResumeResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/geocodeAndIndex/resume": {
      "post": {
        "tags": ["GeocodeAndIndex"],
        "summary": "Geocode and Index an already parsed v10 resume",
        "operationId": "GeocodeAndIndex_GeocodeAndIndexResume",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexResumeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexResumeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexResumeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexResumeResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexResumeResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexResumeResponseStructuredResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "A message describing why the message was unauthorized.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v10/geocodeAndIndex/joborder": {
      "post": {
        "tags": ["GeocodeAndIndex"],
        "summary": "Geocode and Index an already parsed v10 job order",
        "operationId": "GeocodeAndIndex_GeocodeAndIndexJob",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexJobRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexJobRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexJobRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAndIndexJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexJobResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexJobResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAndIndexJobResponseStructuredResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "A message describing why the message was unauthorized.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v10/geocoder/resume": {
      "post": {
        "tags": ["Geocoder"],
        "summary": "Geocodes an already parsed v10 resume",
        "operationId": "Geocoder_GeocodeResume",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object with a parsed resume and additional options.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeResumeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeResumeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeResumeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeGeocoderResponseModelStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeGeocoderResponseModelStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeGeocoderResponseModelStructuredResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "A message describing why the message was unauthorized.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v10/geocoder/joborder": {
      "post": {
        "tags": ["Geocoder"],
        "summary": "Geocodes an already parsed v10 job order",
        "operationId": "Geocoder_GeocodeJob",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object with a parsed resume and additional options.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeJobRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeJobRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeJobRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeoCodeJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobGeocoderResponseModelStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobGeocoderResponseModelStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobGeocoderResponseModelStructuredResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "A message describing why the message was unauthorized.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index": {
      "get": {
        "tags": ["Index"],
        "summary": "Retrieve all indices",
        "operationId": "Index_Get_0",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDetailListStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDetailListStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDetailListStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDetailListStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDetailListStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}": {
      "post": {
        "tags": ["Index"],
        "summary": "Create an index",
        "operationId": "Index_Post",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Index"],
        "summary": "Delete an index",
        "operationId": "Index_Delete",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/index/{indexId}/count": {
      "get": {
        "tags": ["Index"],
        "summary": "Retrieve number of documents in a single index",
        "operationId": "Index_GetIndexDocumentCount",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredIndexDocumentCountResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredIndexDocumentCountResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredIndexDocumentCountResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredIndexDocumentCountResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredIndexDocumentCountResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/job-description/generate": {
      "post": {
        "tags": ["JobDescriptionAPI"],
        "summary": "Generates a job description based on input parameters",
        "operationId": "JobDescriptionAPI_Generate",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJobResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJobResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJobResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJobResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJobResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/job-description/suggest-skills": {
      "post": {
        "tags": ["JobDescriptionAPI"],
        "summary": "Can help suggesting skills to add to the job description",
        "operationId": "JobDescriptionAPI_SuggestSkills",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/JobSuggestSkillsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobSuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JobSuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JobSuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/matcher/resume": {
      "post": {
        "tags": ["Matcher"],
        "summary": "Execute a match query from a v10 resume",
        "operationId": "Matcher_Resume",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchResumeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchResumeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchResumeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/matcher/joborder": {
      "post": {
        "tags": ["Matcher"],
        "summary": "Execute a match query from a v10 job order",
        "operationId": "Matcher_Job",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchJobRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchJobRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchJobRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/matcher/indexes/{indexId}/documents/{documentId}": {
      "post": {
        "tags": ["Matcher"],
        "summary": "Execute a match using a document already in an index",
        "operationId": "Matcher_Post_0",
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/StructuredMatchRequestBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredMatchResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/normalizations": {
      "get": {
        "tags": ["Normalizations"],
        "summary": "Gets a list of available normalizations.",
        "operationId": "Normalizations_Get",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of available Normalizations",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelArrayStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelArrayStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelArrayStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelArrayStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelArrayStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Normalizations"],
        "summary": "Creates normalizations with given values. Overrides if exists.",
        "operationId": "Normalizations_Post",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CreateNormalizationRequest object.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A model of the Normalization created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/normalizations/{key}": {
      "get": {
        "tags": ["Normalizations"],
        "summary": "Gets the normalizations for a given name.",
        "operationId": "Normalizations_Get_0",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the normalization set.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The byte array representing the zip file",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ByteArrayStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ByteArrayStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ByteArrayStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ByteArrayStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ByteArrayStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Normalizations"],
        "summary": "Overrides the existing normalization for the given key.",
        "operationId": "Normalizations_Put",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "They key of the item to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CreateNormalizationRequest object.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNormalizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A model describing the Normalization PUT",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Normalizations"],
        "summary": "Deletes the normalizations for a given name.",
        "operationId": "Normalizations_Delete",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An empty model",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NormalizationResponseModelStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/suggestskills": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given profession.",
        "operationId": "DataEnrichmentServices_SuggestSkillsFromProfessions",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/suggest-skills-from-professions": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given profession.",
        "operationId": "DataEnrichmentServices_SuggestSkillsFromProfessions",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/suggestskillsfromprofessions": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given profession.",
        "operationId": "DataEnrichmentServices_SuggestSkillsFromProfessions",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromProfessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/suggestskillsfromskills": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given set of skills.",
        "operationId": "DataEnrichmentServices_SuggestSkillsFromSkills",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/suggest-skills-from-skills": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given set of skills.",
        "operationId": "DataEnrichmentServices_SuggestSkillsFromSkills",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SuggestSkillsFromSkillsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSkillsResponseStructuredResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v10/ontology/skillssimilarityscore": {
      "post": {
        "tags": ["DataEnrichmentServices"],
        "summary": "Returns skills related to a given set of skills.",
        "operationId": "DataEnrichmentServices_SkillsSimilarityScore",
        "parameters": [
          {
            "name": "Tx-AccountId",
            "in": "header",
            "description": "Provided Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tx-ServiceKey",
            "in": "header",
            "description": "Provided Service Key",
            "required": true,
            "schema": {
              "type": "string"
[...]
